@charset "UTF-8";

.form-parent{
	height: 50px;
	text-align: center;
	padding: 2px;
	align-items: center;
	margin-bottom: 10px;
}

.form-contents{
	top: 0px;
	bottom: 0px;
}

h1{
	margin-bottom: 50px;
}

.row2{
	height: 100px;
}

.col-sm-auto{
	text-align: center;
}

label {
    display: inline-block;
    vertical-align: top;
}

.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}