<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link th:href="@{/css/accountRegister.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:src="@{/js/accountRegister.js}"></script>
<title>Sample</title>
</head>
<body>
	<div class="container text-center">
		<div class="row justify-content-md-center">
			<h1>アカウント登録</h1>
		</div>
		<div class="row">
			<div class="col-sm-auto">
				<span class="input-group-text" id="addon-wrapping">年齢</span>
			</div>
			<div class="col">
				<div class="col-8 col-sm-3">
					<input type="text" class="form-control" name="age" placeholder="" value="age">
				</div>
				<div class="col-4 col-sm-6">
				</div>
			</div>
		</div>
		<di1v class="row">
			<div class="col-sm-auto">
				<span class="input-group-text" id="addon-wrapping">性別</span>
			</div>
			<div class="col">
				<div class="col-8 col-sm-3">
					<input type="text" class="form-control" name="sex" value="sex">
				</div>
				<div class="col-4 col-sm-6">
				</div>
			</div>
		</di1v>
		<div class="row">
			<div class="col-sm-auto">
				<span class="input-group-text" id="addon-wrapping">言語</span>
			</div>
			<div class="col">
				<div class="col-8 col-sm-3">
					<input type="text" class="form-control" name="language" placeholder="" value="language">
				</div>
				<div class="col-4 col-sm-6">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-auto">
				<span class="input-group-text" id="addon-wrapping">役職</span>
			</div>
			<div class="col">
				<div class="col-8 col-sm-3">
					<input type="text" class="form-control" name="employmentType" placeholder="" value="employmentType">
				</div>
				<div class="col-4 col-sm-6">
				</div>
			</div>
		</div>
		<button id="registerAccount" type="button" class="btn btn-secondary">登録</button>
	</div>
	<p>
		<a href="/accountList">アカウント一覧</a>
	</p>
</body>
</html>